[submodule "smartmeshsdk"]
	path = smartmeshsdk
	url = https://github.com/dustcloud/smartmeshsdk

[submodule "smartmesh_c_library"]
	path = ArduinoDue/smartmesh_c_library
	url = https://github.com/dustcloud/sm_clib.git
